
@using MIS442Store.DataLayer.DataModels
@model List<Product>


@foreach (var product in Model)
{

    <table>
        <tr>
            <td>@Html.ActionLink("Edit Product", "Edit", "Product", new { @id = product.ProductID }, null)</td>
            @*@Html.ActionLink("Edit Product", "Edit", "Product", new { @ProductName = product.ProductName }, null)
            @Html.ActionLink("Edit Product", "Edit", "Product", new { @ProductCode = product.ProductCode }, null)
            @Html.ActionLink("Edit Product", "Edit", "Product", new { @ProductVersion = product.ProductVersion }, null)
            @Html.ActionLink("Edit Product", "Edit", "Product", new { @ProductReleaseDate = product.ProductReleaseDate }, null)*@
        </tr>
    </table>
}